* {
	margin: 0;
	padding: 0;
}

html{
    background: rgba(0, 0, 0, 0.0001);
    font-family: 'Roboto', sans-serif;
}


.container {
	width: 1280px;
	margin: 0 auto;
}

/* HEADER */
.title{
    margin-top: 63px;
}
.header-title{
    text-decoration: none;
    font-size: 80px;
    color: #000000;
}

.header-menu{
    background: #35444F;
    margin-top: 38px;
}

.header-menu-list{
    list-style: none;
    display: flex;
    justify-content: center;
}

.header-menu-list-item{
    list-style: none;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding: 26px 40px 19px 40px;
}

.header-menu-list-link{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
}

.header-menu-list-item:hover{
    background: #222F3A;
    transition: 0.5s;
}



/* MAIN */ 
.main-content{
    margin-top: 48px;
    margin-bottom: 54px;
    display: flex;
}

.aside{
    border: 1px solid #000000 ;
    width: 344px;
    align-self: flex-start;
}

.aside-menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.aside-list-link{
    text-decoration: none;
    color: #485863;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    color: #485863;
    font-size: 27px;
    line-height: 27px;
    padding: 26px 0px 25px 44px;

}

.aside-list-link:hover{
    background-color: #DBDBDBDB;
    color: #35444F;
    font-weight: bold;
    padding-left: 60px;
}



.content{
    margin-left: 52px;
}

.content-image{
    border: 1px solid black;
    width: max-content;
}

.content img{
    padding: 75px 268px 73px 297px ;

}

.content-text{
    width: 885px;
    font-size: 18px;
    line-height: 24px;
}

.content-text-first{
    margin-top: 37px;
}

.content-text-second{
    margin-top: 34px;
}


/* FOOTER */

.footer-menu{
    background: #63696E7A;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.footer-menu-list{
    list-style: none;
    display: flex;
}

.footer-list-item{
    list-style: none;
    padding-left: 40px;
    padding-top: 22.5px;
    padding-bottom: 22.5px;
}

.footer-list-link{
    text-decoration: none;
    color: #010101;
    font-size: 24px;
}

.footer-list-link:hover{
    color: #1884a8;
    padding-bottom: 10px;
    border-bottom: 1px solid #1884a8;
}

.float-left{
    display: flex;
    justify-content: flex-start;
    margin-left: auto;
}

.footer-copyright{
    align-self: center;
    color: #010101;
    font-size: 24px;
    padding-right: 40px;
}





.blue-text{
    color: #00bfff;
}
